<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="amasty_hamenok_product_added_to_cart">
        <observer name="Amasty_SecondModuele::checkSku"
                  instance="Amasty\SecondModule\Observer\CheckSku" />
    </event>
</config>